@font-face {
	font-family: 'Roboto Slab';
	font-weight: 900;
	src: url(fonts/RobotoSlab-Black.ttf);
}

@font-face {
	font-family: 'Roboto Slab';
	font-weight: 500;
	src: url(fonts/RobotoSlab-Medium.ttf);
}

@font-face {
	font-family: 'Roboto Slab';
	font-weight: 300;
	src: url(fonts/RobotoSlab-Regular.ttf);
}

:root {
	--bg: hsl(0, 0%, 10%);
	--bg-o: hsla(0, 0%, 10%, 0.9);
	--accent: hsl(43, 75%, 50%);
	--hover: hsl(43, 92%, 59%);
	--error: hsl(12, 100%, 45%);
	--error-hover: hsl(12, 88%, 51%);

	--bg-img: url(images/table-chips.jpg);

	--ff-base: 'Roboto Slab';

	--fw-s: 300;
	--fw-m: 500;
	--fw-l: 800;

	--fz-xs: 3cqi;
	--fz-s: 4cqi;
	--fz-m: 5.5cqi;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg);
	color: white;
	display: grid;
	font: var(--fw-m) var(--fz-m) var(--ff-base);
	min-height: 100vh;
	margin: 0;
	text-align: center;
	place-items: center;
}

@supports (height: 100dvh) {
	body {
		min-height: 100dvh;
	}
}

.game-screen {
	aspect-ratio: 1;
	background-image: var(--bg-img);
	background-size: cover;
	border: min(2px, 1cqi) solid #fff;
	border-radius: min(16px, 2.5cqi);
	container-type: inline-size;
	height: 80vmin;
	margin-inline: auto;
	overflow: hidden;
	position: relative;
	user-select: none;
}

.content {
	display: grid;
	inset: 0;
	position: absolute;
	place-content: center;
}

h1 {
	color: var(--accent);
	font-size: 15cqi;
	font-weight: var(--fw-l);
	margin-block: -2cqi 5cqi; 
	text-shadow: 1cqi 1cqi 2cqi #000a;
}

#intro,
#error-el {
	color: var(--bg);
	font-weight: var(--fw-m);
	line-height: 1.5;
	text-wrap: balance;
	margin-block: 6cqi;
}

#message-el {
	font-style: italic;
	font-size: var(--fz-s);
	font-weight: var(--fw-s);
	height: 2lh;
	align-content: center;
}

#error {
	background-color: #fffa;
	position: absolute;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	inset: 0;
}

.error-msg {
	background-color: #fffc;
	border: .5cqi solid var(--error);
	border-radius: min(10px, 2cqi);
	margin-inline: 10cqi;
	padding: 6cqi;
	position: absolute;
	top: 50%;
	translate: 0 -50%;
}

.icon {
	aspect-ratio: 1;
	border: 1cqi solid var(--error);
	border-radius: 50%;
	display: block;
	height: 10cqi;
	margin-inline: auto;
	position: relative;
}

.icon::before,
.icon::after {
	background-color: var(--error);
    content: '';
    display: block;
    height: 1cqi;
    width: 5cqi;
    position: absolute;
	inset: 50% auto auto 50%;
	translate: -50% -50%;
	rotate: 45deg;
}

.icon::after {
	rotate: 135deg;
}


#error-el {
	font-size: var(--fz-xs);
}

#error button {
	background-color: var(--error);
	color: #fffe;
}

#error button:hover {
	background-color: var(--error-hover);
}

p,
button {
	font-size: var(--fz-s);
	margin-block: 4cqi;
}

p {
	font-weight: var(--fw-m);
	margin-block: 3cqi;
}

#cards-el,
#sum-el {
	margin-block: min(3cqi, 10px);
}

button {
	background: var(--accent);
	border: none;
	border-radius: .5em;
	box-shadow: .1cqi .1cqi .4cqi #0005,
				.5cqi .5cqi 2cqi #0002;
	display: block;
	font-family: var(--ff-base);
	font-weight: bold;
	color: var(--bg);
	margin: .3em auto;
	padding: .4em 1.5em;
	transition: 250ms;
	width: 50cqi;
}

button:last-of-type {
	margin-bottom: 0;
}

button:hover {
	background-color: var(--hover);
	cursor: pointer;
}