body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background: #191919;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: grid;
}

.container {
    display: grid;
    margin: auto;
    min-width: 400px;
    max-width: 600px;
}

h1 {
    color: goldenrod;
    font-size: 4rem;
}

p,
button {
    font-size: 1.5rem;
}

#message-el {
    font-style: italic;
}

button {
    color: #191919;
    background: goldenrod;
    padding: .5em 1.5em;
    font-weight: bold;
    border: none;
    border-radius: .5em;
    margin: .25em;
    min-width: 220px;
}

button:hover {
    background-color: rgb(255, 198, 52);
}